<html>
  <head>
    <title>Webcam Stream</title>
  </head>
  <body>
	  <div class="container">
	    <img id="feed" src="{{ url_for('video_feed') }}">
	  </div>
<style>
body {
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;
	width : 100vw;
}

img {
	height: 100%;
	width: auto;
}
</style>
    <script>
	window.onload = function() {
	    var image = document.getElementById("feed");

	    function updateImage() {
		image.src = image.src.split("?")[0] + "?" + new Date().getTime();
	    }

	    setInterval(updateImage, 5000);
	}
    </script>
  </body>
</html>
